In [0]:
import sqlite3 # Once imported in a single notebook, it is available to us throughout the rest of the notebook. 
# connect to database, if not there, create it.
connectionToDatabase = sqlite3.connect('SongPlatformData') 
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS SongInformation''')
connectionToDatabase.commit()

cursor.execute('''create table SongInformation (songID text PRIMARY KEY, songTitle text, songArtist text, songAlbumSingle text, songGenre text)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS SongPlays''')
connectionToDatabase.commit()

cursor.execute('''create table SongPlays (playsID text PRIMARY KEY, songPlays int, dailyPlays int, weeklyPlays int, monthlyPlays int, songID text)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS Podcasts''')
connectionToDatabase.commit()

cursor.execute('''create table Podcasts (podcastID text PRIMARY KEY, episodeName text, podcastListeners int, podcastGenre text, totalPodcastPlays int, runTime real)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS UserInformation''')
connectionToDatabase.commit()

cursor.execute('''create table UserInformation (userID text PRIMARY KEY, songsID text, playsID text, podcastID text, accountName text, dateAccCreated text, memberStatus int)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS UserTransaction''')
connectionToDatabase.commit()

cursor.execute('''create table UserTransaction (cardID text PRIMARY KEY, numberOfPayments int, amountCharged real, nextPaymentDue text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into SongInformation values ("126324747","Fuzzy Socks","Andy Rogan","Single","Funk");''')
connectionToDatabase.commit()
cursor.execute('''insert into SongInformation values ("238472733","Beamer Boy","Lil Peep","Single","Trap/Rap");''')
connectionToDatabase.commit()
cursor.execute('''insert into SongInformation values ("273447923","CntrlAltDelete","Bones","Album","Rap");''')
connectionToDatabase.commit()
cursor.execute('''insert into SongInformation values ("735628747","Buckshots","A$AP Rocky","Album","Rap");''')
connectionToDatabase.commit()
cursor.execute('''insert into SongInformation values ("888827472","Bad","Polyphia","Album","Prog Rock");''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into SongPlays values ("18433083",3,9,20,50,"126324747");''')
connectionToDatabase.commit()
cursor.execute('''insert into SongPlays values ("19347494",4,12,22,100,"238472733");''')
connectionToDatabase.commit()
cursor.execute('''insert into SongPlays values ("34857399",2,5,15,"87","273447923");''')
connectionToDatabase.commit()
cursor.execute('''insert into SongPlays values ("11334455",5,11,14,24,"735628747");''')
connectionToDatabase.commit()
cursor.execute('''insert into SongPlays values ("75839273",3,5,27,82,"888827472");''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Podcasts values ("1974829","The World Ending Fart",3268746,"Comedy",684294,"56:23");''')
connectionToDatabase.commit()
cursor.execute('''insert into Podcasts values ("1238958","War on TikTok",245767,"Politics",45756,"30:21");''')
connectionToDatabase.commit()
cursor.execute('''insert into Podcasts values ("2392845","Rager at Club Decco",3126,"Comedy",4123,"21:46");''')
connectionToDatabase.commit()
cursor.execute('''insert into Podcasts values ("8573923","Mythical Meter Maid",657,"Comedy",879,"45:21");''')
connectionToDatabase.commit()
cursor.execute('''insert into Podcasts values ("3957203","Spiderman's Kryptonite",345913,"Comedy",347,"40:57");''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into UserInformation values ("573827","2,847","6,258","7","Adler Brown","4/15/19","1");''')
connectionToDatabase.commit()
cursor.execute('''insert into UserInformation values ("986983","472","1,482","12","Jared Bowman","4/23/19","0");''')
connectionToDatabase.commit()
cursor.execute('''insert into UserInformation values ("127349","1,534","2,583","17","Julie Dzielski","6/17/19","0");''')
connectionToDatabase.commit()
cursor.execute('''insert into UserInformation values ("876739","7,219","50,283","30","Ethan Stahley","1/14/19","1");''')
connectionToDatabase.commit()
cursor.execute('''insert into UserInformation values ("163826","297","3,643","2","Carolyn Kenney","7/5/19","1");''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into UserTransaction values ("572921",7,70,"12/15/19");''')
connectionToDatabase.commit()
cursor.execute('''insert into UserTransaction values ("000000",0,0,"null");''')
connectionToDatabase.commit()
cursor.execute('''insert into UserTransaction values ("000001",0,0,"null");''')
connectionToDatabase.commit()
cursor.execute('''insert into UserTransaction values ("485938",10,100,"12/14/19");''')
connectionToDatabase.commit()
cursor.execute('''insert into UserTransaction values ("493729",4,40,"12/5/19");''')
connectionToDatabase.commit()

![alt text](https://raw.githubusercontent.com/alicev22/IST-210-workshop/master/example/IST%20210%20Second%20Draft%20ER%20Diagram.png)

What is the average runtime  of all podcast in the comedy genre?

In [0]:
cursor.execute('''select podcastGenre, avg(runtime) from Podcasts where podcastGenre = "Comedy";''' )
for row in cursor.fetchall():
  print(row)

('Comedy', 40.5)

What are the top 5 most played songs?

In [0]:
cursor.execute('''select i.songTitle, p.songPlays from SongPlays p, SongInformation i where p.songID = i.songID order by songPlays DESC limit 5;''' )
for row in cursor.fetchall():
  print(row)

('Buckshots', 5)
('Beamer Boy', 4)
('Fuzzy Socks', 3)
('Bad', 3)
('CntrlAltDelete', 2)

This question was the most important to answer due the fact that this would be how our music service would aggregate the most played songs in our catalog, which is what everyone will see when they log in. The results of running the above SQL command gave expected results, with the songID and songPlays being selected to show total plays in descending order. Now, someone viewing the 'top played' category can see what others are listening to and we can see a breakdown of the plays that song has received in the database to judge what artists, albums and songs are worth keeping in the database.

What is the total number of listners for the different genres of podcasts?

In [0]:
cursor.execute('''select podcastGenre, sum(podcastListeners) from Podcasts group by podcastGenre;''' )
for row in cursor.fetchall():
  print(row)

('Comedy', 3618442)
('Politics', 245767)